[Unit]
Description=Energy Monitor Script
After=network-online.target
Wants=network-online.target

[Service]
User=klotz
Type=simple
Restart=always
RestartSec=5
# Force shell redirection so that the file gets raw, clean script strings
ExecStart=/bin/sh -c '/home/klotz/wip/energy-monitor/lib/daemon.sh >> /var/log/pm/pm.log 2>&1'
[Install]
WantedBy=multi-user.target
