[Unit]
Description=Energy Monitor Script
After=network-online.target
Wants=network-online.target

[Service]
User=klotz
Type=simple
Restart=always
RestartSec=5
ExecStart=/home/klotz/wip/energy-monitor/lib/daemon.sh

StandardOutput=append:/var/log/pm/pm.log
StandardError=inherit 

[Install]
WantedBy=multi-user.target
